@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fuzzy+Bubbles:wght@700&family=Patrick+Hand&family=Roboto:wght@300&display=swap');
* {
    font-family: 'Fuzzy Bubbles', cursive;
}

#main-outer {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin: 0 auto;
    padding: 10px;
    width: 800px;
}

#main-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    color: #00c1b5;
    font-family: 'Dancing Script', cursive;
    font-family: 'Fuzzy Bubbles', cursive;
    display: flex;
    align-items: center;
    justify-content: center
}

#main-body {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.each-note {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 45px;
    border: 1px solid rgb(118, 115, 115);
    background-color: #d6f0fa;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#inputs {
    width: fit-content;
}